body {
	background: #526f80 url(img/bg.png) bottom repeat-x;
}

#inner {
	width: 450px;
	height: 210px;
	margin: 15% auto;
}

h1 {
	height: 29px;
	width: 249px;
	display: block;
	text-align: center;
	background: transparent url(img/venkman.png) center no-repeat;
	margin: 25px auto;
	padding: 0;
	text-indent: -9999px;
}

#social {
	list-style-type: none;
	text-align: center;
	margin: 15px auto;
	padding: 0;
}

#social a {
	width: 130px;
	height: 132px;
	float: left;
	text-indent: -9999px;
	margin: 0 10px;
}

#youtube {
	background: transparent url(img/youtube.png) center no-repeat;
}

#soundcloud {
	background: transparent url(img/soundcloud.png) center no-repeat;
}

#facebook {
	background: transparent url(img/facebook.png) center no-repeat;
}

#email {
	width: 256px;
	height: 14px;
	background: transparent url(img/email.png) center no-repeat;
	display: block;
	text-indent: -9999px;
	display: block;
	clear: both;
	margin: 0 auto;
	position: relative;
	top: 30px;
}